img{
    width: 600px;
    height: 400px;
    display: flex; 
    margin: 0 auto; 
    padding: 5px;
}

*{
    margin: 0;
    box-sizing: border-box;
}

footer{
    text-align: center;
    background-color: rgb(61, 61, 61);
    color: aliceblue;
    padding: 5px;
}

header{
        background-color: rgb(61, 61, 61);
        color: aliceblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 15px;
    

}

nav a{
    padding-right: 10px;
}


h2,h5{
  text-align:center
}

.about_us{
    padding-top: 20px;
    padding-bottom: 10px;
}

.about_us h2{
    padding-bottom: 10px;
}


article{
    border-spacing: 0px;
    align-content: center;
    margin: 0 auto; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; /* Center horizontally */
    padding-bottom: 100px;
}

.column{
    border: 1px solid grey ;

}

section h2,h5{
    text-align: center;
}

.services_{
    text-align: center;
    padding-bottom: 10px;
}